.parallelogram {
	display: inline-flex;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background: #33ff88;
	margin: 0 20px 0 40px;
	border-radius: 0 !important;
}

.parallelogram-text {
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	font-size: 2em;
	font-style: italic;
	font-weight: 600;
	padding: 0 .75em .15em .75em;
}